mixin cardHome(icon, city, address, info, filter, href)
  .card-home
    a.card-home__link(href=href, aria-label=address)
    .card-home__content
      p.card-home__text=filter
      .card-home__icon
        +icon(icon, 120, 70)
      h3.title.title--sm
        span=city
        span=address
      span.card-home__info=info
