mixin cardDepartment(arr)
  .card-department(data-accordion="element")

    button.card-department__btn.btn(type="button", data-accordion="button")
      span=arr[0].title
      +icon("icon-arrow-sm", 35, 16)

    .card-department__content(data-accordion="content")
      table(data-accordion="content")
        caption.visually-hidden=arr[0].title
        tbody
          each item in arr
            tr
              td
                p.card-department__td-title=item.tdTitle

                if item.text
                  .card-department__td-text
                    p=item.text

                if item.texts
                  ul.card-department__td-list
                    each text in item.texts
                      li.card-department__td-text(class=item.isDisc ? "card-department__td-text--disc" : "")
                        p=text.text

              td
                if item.cabinet
                  .card-department__td-text
                    p Кабинет:
                    p=item.cabinet

                if item.links
                  each link in item.links
                    .card-department__td-text
                      p=link.linkDesc
                      a.link.link--dodger-blue(href=link.num)=link.num
